@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Roboto Condensed';
  font-size: 1rem;
}

.wrapper {
  display: absolute;
  width: 90.5%;
  margin: 0 auto;
  border: 0.1px solid #5a5a5a;
}

section {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 5vmin;
  color: #2b2a2a;
}

h3 {
  font-size: 3em;
}

@media screen and (min-width: 841px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .desktop {
    display: none;
  }
  .mobile {
    height: 100vh;
    width: auto;
    text-align: center;
  }
  .mobile h1 {
    font-size: 2em;
    color: #2b2a2a;
  }
  .mobile h2 {
    font-size: 1.2em;
    color: #676767;
  }
  .mobile .wrapper {
    width: 90%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile .title-mobile {
    margin-top: 1em;
  }
  .mobile .description {
    margin-top: 1.5em;
  }
  .mobile .description p {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 1.3em;
  }
  .mobile .description #mail {
    font-size: 1.5em;
    text-decoration: underline;
  }
  .mobile .social-icons {
    position: relative;
    width: 10rem;
    height: 3rem;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile .social-icons .icon {
    margin: 0;
  }
}

@media screen and (max-width: 840px) and (orientation: landscape) {
  .mobile .avatar img {
    min-width: 90px;
    min-height: 90px;
    width: 90px;
  }
  .mobile .social-icons {
    position: absolute;
    display: block;
    width: 3rem;
    height: 168px;
    right: 2rem;
    top: 1rem;
  }
  .mobile .social-icons .icon {
    margin-top: 0.5em;
  }
}

#scroll-down-arrow svg {
  position: absolute;
  width: 3.6rem;
  height: 1rem;
  max-width: 80px;
  background-size: 3.6rem 1rem;
  background-repeat: no-repeat;
  bottom: 1.7rem;
  left: 50%;
  margin-left: -1.8rem;
}

.override path {
  stroke: #2b2a2a;
}

.scroll-index {
  position: absolute;
  right: 0;
  margin-top: 0px;
  margin-right: -2.35em;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.scroll-index::after, .scroll-index--left::after, .scroll-index--right::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
}

.scroll-index--left {
  color: white;
  bottom: 60px;
  margin-bottom: 0;
  margin-right: -2.5em;
}

.scroll-index--left::after {
  width: 5em;
  left: 0;
  background: white;
}

.scroll-index--right {
  color: #2b2a2a;
  top: 1.7em;
}

.scroll-index--right::after {
  width: 4.05em;
  right: 0;
  background: #2b2a2a;
}

#contact-index {
  margin-right: -2.9em;
  top: 2.1em;
}

#contact-index::after {
  width: 5.0em;
}

@media screen and (max-width: 1280px) {
  .scroll-index {
    font-size: 1.5rem;
  }
  .scroll-index::after, .scroll-index--left::after, .scroll-index--right::after {
    bottom: 0.5rem;
  }
  .scroll-index--left {
    margin-bottom: 0px;
    bottom: 2.15em;
  }
  .scroll-index--right {
    color: #2b2a2a;
    top: 1.2em;
  }
  .scroll-index--right::after {
    width: 3.9em;
  }
  #contact-index {
    top: 1.8em;
  }
}

@media screen and (max-width: 840px) {
  .scroll-index {
    display: none;
  }
}

nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

nav li:nth-child(-n+2) a::after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  left: 50%;
  position: relative;
  bottom: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav li a:hover:after {
  width: 100%;
  left: 0;
}

#contactBtn:hover {
  background: rgba(43, 42, 42, 0.1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.hero-bg {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 161, 212, 0.25)), to(rgba(255, 0, 0, 0.1))), url(../assets/hero_bg_gx.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 161, 212, 0.25) 0%, rgba(255, 0, 0, 0.1) 100%), url(../assets/hero_bg_gx.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 1em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title::before {
  content: 'Stepan';
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: -1;
  margin-top: 45px;
  margin-left: 0px;
  height: 0;
  width: 65%;
  background: rgba(196, 196, 196, 0.3);
}

.title:hover::before {
  height: 23%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.title::after {
  content: 'Vardanyan';
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: -1;
  margin-top: 140px;
  margin-left: 0px;
  height: 0;
  width: 105%;
  background: rgba(196, 196, 196, 0.3);
}

.title:hover::after {
  height: 23%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header {
  position: relative;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
}

header nav ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li a {
  padding: 0 1vw;
  text-transform: uppercase;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 3.25em;
  background: url(../assets/logo.svg);
  background-size: auto 3.25em;
  background-repeat: no-repeat;
  margin-top: 0.2em;
}

.btnOutline {
  display: block;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -7px;
  padding: 6px 9pt;
}

@media screen and (max-width: 1280px) {
  .title {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 50%;
  }
  .title::before, .title::after {
    display: none;
  }
  #hero {
    font-size: 1.5em;
  }
  header {
    padding-top: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 42px;
  }
  .scroll-index {
    display: none;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .background-text {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#about .background-text p {
  position: absolute;
  font-size: calc(120px + 520 * ((100vw - 600px) / 1320));
  font-weight: bold;
  text-align: center;
  margin: 0;
  bottom: calc(100px - 200 * ((100vw - 1280px) / 640));
  color: whitesmoke;
  text-transform: uppercase;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6vmin;
}

.avatar img {
  width: calc(7rem + 8vmax);
  height: auto;
  max-width: 320px;
  max-height: 320px;
  min-width: 120px;
  min-height: 120px;
}

.about-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.skills-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-column-gap: 4em;
  margin-top: calc(3em + 1vw);
}

.skills-container .skills-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  color: #2b2a2a;
  text-transform: uppercase;
}

.skills-container .skills-column h3 {
  margin: 0;
  padding: 0;
  font-size: calc(4em + 6em * ((100vw - 30vw) / 70vw));
}

.skills-container .skills-column p {
  font-size: calc(24px + 8 * ((100vw - 1280px) / 640));
  max-width: 16vw;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .skills-container {
    margin-top: 1.2em;
  }
  .skills-container .skills-column h3 {
    font-size: 2.3rem;
  }
  .skills-container .skills-column p {
    font-size: 1.4rem;
  }
}

.contact-bg {
  z-index: -1;
  position: absolute;
  height: calc(100vh - 36px);
  width: 100%;
  background: whitesmoke;
  left: 0;
  margin: 0;
}

.contact-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -8em;
  max-width: 80vw;
}

.contact-content h3 {
  margin: 0;
  font-size: 12rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-content p {
  margin-top: 1.0rem;
  font-size: 2rem;
  max-width: 70%;
  text-align: center;
  color: #2b2a2a;
}

#mail {
  font-size: 3rem;
  color: #2b2a2a;
}

#mail:link, #mail:visited {
  text-decoration: none;
}

#mail:hover, #mail:active {
  text-decoration: underline;
}

#greeting:hover span {
  display: none;
}

#greeting:hover::before {
  content: "Say hi.";
  text-transform: initial;
}

.social-icons {
  position: absolute;
  width: 3rem;
  height: 168px;
  right: -3rem;
}

.social-icons .icon {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 3rem;
  background-size: auto 3rem !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  margin-top: 1rem;
}

.social-icons #github {
  background: url(../assets/social_icon_1.svg);
}

.social-icons #linkedin {
  background: url(../assets/social_icon_2.svg);
}

.social-icons #facebook {
  background: url(../assets/social_icon_3.svg);
}

@media screen and (max-width: 1280px) {
  .contact-content h3 {
    font-size: 8rem;
  }
  .contact-content p {
    font-size: 1.5rem;
  }
  .social-icons .icon {
    height: 2.5rem;
    background-size: auto 2.5rem !important;
  }
}

.footer {
  position: absolute;
  bottom: 8px;
  padding: 0;
  margin: 0;
  left: 0;
}

.footer p {
  font-weight: lighter;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  color: #2b2a2a;
}
